body {
  font-family: roboto;
}
h1,
li,
small {
  color: #233142;
  font-weight: 100;
  line-height: 28px;
}
h1 {
  font-size: 33px;
  margin: 0;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  font-size: 24px;
  list-style: none;
}
.weather-app {
  border: 2px solid #233142;
  padding: 15px;
  border-radius: 20px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-size: 18px;
}
