body {
  font-family: roboto;
}
h1 {
  color: #233142;
  line-height: 28px;
  font-weight: 100;
  font-size: 33px;
  margin: 0;
}
ul {
  margin: 0 0 01px;
  padding: 0;
}
li {
  color: #233142;
  line-height: 28 px;
  font-weight: 100;
  font-size: 24px;
  list-style: none;
}
.weather-app {
  border: 20px solid #233142;
  padding: 15px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 20px;
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-size: 23px;
}
